<html>
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Kubernetes APIs</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Pods Inventory</a></li>
        <li><a href="#">JSON</a></li>
        <li><a href="#">YAML</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <table style="width:100%" class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Pod IP</th>
              <th scope="col">Namespace</th>
              <th scope="col">Metadata Name</th>
            </tr>
          </thead>
          <tbody>
        {% for i in kubepods %}
        <tr>
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
  </div><!-- /.container-fluid -->
</body>
</html>